body {
  background-color: darkblue;

  /*background-color: #282c34; /* Fundo escuro para contraste */
  color: white; /* Cor da fonte branca */
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}


#text {
  background-color: black;
  color: white;
  padding: 10px;
}
#Inicial,#Options {
  background-color: rgb(161, 197, 159);
  color: white;
  padding: 10px;
}
#game {
  max-width: 500px;
  max-height: 1000px;
  background-color: rgb(75, 69, 69);
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  background-color: rgb(133, 206, 139);
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}
#PersonagemStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}
.stat {
  padding-right: 10px;
}
#battle-container {
  display: flex;
  justify-content: space-between; /* Espaço entre as áreas do jogador e do rival */
  align-items: center; /* Alinha verticalmente no centro */
}

#player-area {
  flex: 1; /* Faz cada área ocupar igual largura */
  margin: 0px; /* Adiciona um pequeno espaço entre as áreas */
}
#rival-area {
  flex: 1; /* Faz cada área ocupar igual largura */
  margin:10px; /* Adiciona um pequeno espaço entre as áreas */
  margin-bottom: 16.8px;
}
#rival {
  text-align: center; /* Centraliza o texto do rival */
}

#rival-pokemon {
  margin-top: -23px; /* Subir a imagem ajustando o valor negativo */
  display: block; /* Garante que a imagem respeite a centralização do pai */
  margin-left: auto;
  margin-right: auto;
}
#player-pokemon {
  margin-top: -23px; /* Subir a imagem ajustando o valor negativo */
  display: block; /* Garante que a imagem respeite a centralização do pai */
  margin-left: auto;
  margin-right: auto;
}
button {
  background-color: #4CAF50; /* Cor do botão */
  color: white; /* Cor do texto nos botões */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
#status {
  margin-top: 20px;
}
#battle-log { /* A */
  height: 200px;
  overflow-y: auto;
  border: 1px solid #444;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  background-color: #333;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049; /* Cor do botão ao passar o mouse */
}

.container {
  border: 2px solid;
  border-image: linear-gradient(to right, #b0b0b0, #f0f0f0, #b0b0b0);
  border-image-slice: 1;
}
.progress-bar {
  width: 100%;
  max-width: 500px;
  height: 30px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transform-origin: right center;

  transition: width 1.5s ease;

}



.playerProgressBar {
  width: 100%;
  height: 100%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transform-origin: right center;
  border: 2px solid;
  border-image: linear-gradient(to right, #b0b0b0, #f0f0f0, #b0b0b0);
  border-image-slice: 1;
}

button.container {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

button.container:hover {
  background-color: #0056b3;
}

#playerInfo {
  display: flex; /* Exibe os elementos em linha */
  align-items: center; /* Alinha verticalmente */
  margin-left: 60px; /* Move todo o bloco mais para a direita */

}
#opponentInfo {
  display: flex; /* Exibe os elementos em linha */
  align-items: center; /* Alinha verticalmente */
  margin-left: 60px; /* Move todo o bloco mais para a direita */

}

#playerName {
  font-size: 18px; /* Ajuste o tamanho conforme necessário */
}
#opponentName {
  font-size: 18px; /* Ajuste o tamanho conforme necessário */
}
#pokeLv {
  font-size: 12px; /* Menor tamanho que o playerName */
  margin-left: 5px; /* Espaço entre playerName e pokeLv */
  position: relative;
  top: -2px; /* Move ligeiramente para cima */
}
#RpokeLv {
  font-size: 12px; /* Menor tamanho que o playerName */
  margin-left: 5px; /* Espaço entre playerName e pokeLv */
  position: relative;
  top: -2px; /* Move ligeiramente para cima */
}
